*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: yellowgreen;
    padding: 32px;
    border-bottom: 2px solid rgb(220, 220, 220);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 32px;
}

header input,
header button{
    padding: 8px;
    border: none;
    border-radius: 5px;
}

header input{
    margin-right: 8px;
}

.content{
    padding: 32px 0;
}

.about-content{
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 12px;
}

.about-content p{
    margin: 0 12px;
}

.about-content img{
    border-radius: 5px;
    border-right: 2px solid rgb(220, 220, 220);
    border-bottom: 2px solid rgb(220, 220, 220);
    width: 50%;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1.5%;
    row-gap: 2.5%;
    padding: 12px;
    justify-content: center;
}

.card{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 100%;
    padding: 12px;
    border-right: 2px solid rgb(220, 220, 220);
    border-bottom: 2px solid rgb(220, 220, 220);
}

.card:hover{
    border-right: 2px solid rgb(190, 190, 190);
    border-bottom: 2px solid rgb(190, 190, 190);
}

.card img{
    max-width: 100%;
    border-radius: 5px;
}

.card h3{
    font-size: 18px;
    margin: 8px 0;
}

.price{
    font-style: italic;
    font-weight: bold;
    margin-top: 12px;
    font-size: 18px;
}

.card img{
    width: 100%;
}

.card button{
    background-color: yellowgreen;
    border: none;
    width: 90%;
    display: flex;
    margin: 8px auto;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover{
    background-color: rgb(180, 235, 69);
}

footer{
    background-color: yellowgreen;
    padding: 1.5em;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

footer li{
    list-style: none;
    font-size: 16px;
}

footer a{
    color: black;
    text-decoration: none;
}

.copy{
    display: flex;
    justify-content: center;
    margin: 18px 0;
}

@media screen and (max-width: 619px) {
    header .container{
        display: block;
    }

    header button{
        display: none;
    }

    header input{
        padding: 4px;
        margin-left: 8px;
        width: 7.5em;
    }

    .about-content{
        display: block;
        width: 100%;
    }

    .about-content img{
        width: 100%;
    }

    .card img,
    .card h3,
    .card .price,
    .card p
    {
        width: 100%;
    }

    header h1{
        font-size: 22px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 16px;
    }

    p, li, a, address{
        font-size: 14px;
    }

    footer .container{
        width: 95%;
    }

    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .content{
        margin-bottom: 2em;
    }

    .product-grid{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1.5%;
        padding: .75em;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 620px) and (max-width: 1023px){
    .product-grid{
        display: grid;
        grid-template-columns: repeat(2, 47.6%);
        row-gap: 1.5%;
        column-gap: 1.5%;
        padding: 0.75em;
    }

    header button{
        display: none;
    }

    header input{
        padding: 4px;
        margin-left: 8px;
        width: 7.5em;
    }

    .about-content{
        display: block;
        width: 100%;
    }

    .about-content img{
        width: 100%;
    }

}